@import "settings/grid-settings";
@import "settings/variables";
@import "tools/mixins";
@import "tools/neat/neat.scss";
.ui-autocomplete-input {
  cursor : pointer !important;
}
.ui-helper-hidden-accessible {
  display : none;
}
.ui-autocomplete {
  @include z-index('autocomplete');
  @include grid-column(6);
  @include grid-push(3);
  background : $white;
  box-sizing : border-box;
  box-shadow : 0 2px 5px 1px rgba(0, 0, 0, 0.2);
  max-width  : 600px;
}
.ui-menu-item {
  color      : $primary-text;
  cursor     : pointer;
  padding    : $baseline-spacing*2 $baseline-spacing*2;
  transition : all 0.2s ease-in-out;

  &:hover {
    background-color : $bg-orange;
    color            : $white;
  }
}
