@import "settings/grid-settings";
@import "tools/neat/neat.scss";
/* #Colours
================================================== */

/* #Positioning
================================================== */
.u-clear {
  clear      : both;
  display    : block;
  overflow   : hidden;
  visibility : hidden;
  width      : 0;
  height     : 0;
}
.u-left {
  float : left;
}
.u-right {
  float : right;
}
.u-align-left {
  text-align : left;
}
.u-align-center {
  text-align : center;
}
.u-align-right {
  text-align : right;
}
.u-no-scroll {
  overflow : hidden;
}
.u-scroll {
  overflow : auto;
}
.u-accessible-hide {
  height   : 1px;
  left     : -10000px;
  overflow : hidden;
  position : absolute;
  top      : auto;
  width    : 1px;
}
/* #Layout
================================================== */
.u-container {
  @include grid-container;
  margin-left  : auto;
  margin-right : auto;
  max-width    : $max-width;
}
.u-full-width {
  width : 100%;
}
