<%= form_tag('/', method: 'get', class: 'c-fx-form') do %>

    <%= select_tag(:date, options_for_select(dates, params[:date]), class: 'c-fx-form__date ts-body js-date-select', :include_blank => 'Select a date') %>

    <!-- At the moment the only base currency is EUR, this can be changed when this updates -->
    <%= text_field_tag(:from_currency, 'EUR', class: 'c-fx-form__input ts-body', placeholder: 'From currency', readonly: true) %>

    <%= text_field_tag(:to_currency, params[:to_currency], class: 'c-fx-form__input ts-body js-currency-autocomplete', placeholder: 'To currency', data: {'src': currencies}) %>

    <%= text_field_tag(:amount, params[:amount], class: 'c-fx-form__input ts-body', placeholder: 'Amount') %>

    <%= button_tag(:convert, type: 'submit', class: 'c-fx-form__btn ts-body') %>
<% end %>
