<%= render 'partials/header' %>

<main class="u-container">
  <% if @value %>
      <section class="c-converted">
        <h2 class="c-converted__heading ts-heading-2">
          <%= params['amount'] %> <%= params['from_currency'] %> = <%= @value %> <%= params['to_currency'] %>
        </h2>
      </section>
  <% end %>

  <%= render 'partials/fx-form', dates: @dates, currencies: @currencies %>
</main>

<%= render 'partials/footer' %>
