@import "tools/mixins";
@import "settings/variables";
body {
  @include sans;
  -webkit-font-smoothing  : antialiased;
  -moz-osx-font-smoothing : grayscale;
  font-size               : 16px;
  margin                  : 0;
  position                : relative;
}
a {
  color           : inherit;
  text-decoration : none;
}
