@import "settings/grid-settings";
@import "settings/variables";
/*
    ===============================
    COMMON CODE
    ===============================
*/
@mixin checkbox-hide {
  border   : 0;
  clip     : rect(0 0 0 0);
  height   : 1px;
  margin   : -1px;
  overflow : hidden;
  padding  : 0;
  position : absolute;
  width    : 1px;
}
$z-index : (
        'autocomplete': 99
);

@function z-index($key) {
  @return map-get($z-index, $key);
}
@mixin z-index($key) {
  z-index : z-index($key);
}
/*
    ===============================
    TYPOGRAPHY
    ===============================
*/

/* Font families */
@mixin header-sans {
  font-family : 'Fjalla One', Arial, Helvetica, sans-serif;
}
@mixin sans {
  font-family : 'Open Sans', "Times New Roman", serif;
}
/* Body text */
@mixin ts-body {
  @include sans;
  color       : $primary-text;
  font-size   : 16px;
  font-weight : 400;
  line-height : 1.5;

  a {
    color     : currentColor;
    font-size : inherit;
    word-wrap : break-word;
  }
}
@mixin default-list-style {
  ul, ol {
    margin-bottom : 24px;
    padding-left  : 21px;

    li {
      font-weight   : 600;
      margin-bottom : 12px;
    }
  }

  ul {
    list-style-type : disc;

    ul {
      list-style-type : circle;
    }
  }

  ol {
    list-style-type : decimal;

    ol {
      list-style-type : lower-alpha;
    }
  }
}
/*
    ===============================
    INPUT FIELDS
    ===============================
*/
//SBTODO: remove select-filed if not used
@mixin select-field() {
  background-color : $white;
  border-radius    : 0;
  box-sizing       : border-box;
  cursor           : pointer;
  position         : relative;

  select {
    -moz-outline-style : none;
    -webkit-appearance : none;
    border             : none;
    height             : 100%;
    left               : 0;
    margin             : 0;
    opacity            : 0;
    position           : absolute;
    top                : 0;
    width              : 100%;
  }
}
/*
    ===============================
    GRID OUTER PADDING
    ===============================
*/
@mixin outer-padding() {
  box-sizing    : border-box;
  padding-left  : $gutter;
  padding-right : $gutter;
}
