@import "settings/grid-settings";
@import "settings/variables";
@import "tools/mixins";
@import "tools/neat/neat.scss";
/* Headings
================================================== */
.ts-heading-1 {
  @include header-sans;
  color       : $white;
  font-size   : 60px;
  font-weight : 700;
  line-height : 56px;

  @include grid-media($tablet) {
    font-size   : 60px;
    line-height : 56px;
  }

  @include grid-media($mobile) {
    font-size   : 60px;
    line-height : 56px;
  }

  a {

  }
}
.ts-heading-2 {
  @include header-sans;
  font-size   : 38px;
  font-weight : 700;
  line-height : 46px;

  @include grid-media($tablet) {
    font-size   : 36px;
    line-height : 44px;
  }

  @include grid-media($mobile) {
    font-size   : 34px;
    line-height : 42px;
  }

  a {

  }
}
.ts-heading-3 {
  @include header-sans;
  font-size   : 32px;
  font-weight : 700;
  line-height : 40px;

  @include grid-media($tablet) {
    font-size   : 30px;
    line-height : 38px;
  }

  @include grid-media($mobile) {
    font-size   : 28px;
    line-height : 36px;
  }

  a {

  }
}
.ts-heading-4 {
  @include header-sans;
  font-size   : 24px;
  font-weight : 700;
  line-height : 32px;

  a {

  }
}
.ts-heading-5 {
  @include header-sans;
  font-size   : 20px;
  font-weight : 600;
  line-height : 28px;
}
.ts-heading-6 {
  @include sans;
  font-size   : 18px;
  font-weight : 600;
  line-height : 26px;
}
/* Body
================================================== */
.ts-body {
  @include ts-body;
}
p {
  @include ts-body;
}
/* Header
================================================== */
