// Baseline
$baseline-spacing : 8px;

// Grid settings
$gutter : 32px;

@media screen and (max-width : 1055px) {
  $gutter : 24px;
}
@media screen and (max-width : 767px) {
  $gutter : 12px;
}

$grid-columns : 12;
$max-width : 1280px;
$outer-padding : $baseline-spacing*2;

$neat-grid : (
		columns: $grid-columns,
		gutter: $gutter,
);

$topics-grid : (
		columns: 3,
		gutter: $baseline-spacing * 2,
);

$large-desktop : (
		columns: 12,
		gutter: $gutter,
		media: 1920px,
);

$desktop : (
		columns: 12,
		gutter: $gutter,
		media: 1056px,
);

$tablet : (
		columns: 6,
		gutter: $gutter,
		media: 'only screen and (max-width: 1055px)',
);

$mobile : (
		columns: 4,
		gutter: $gutter,
		media: 'only screen and (max-width: 767px)',
);

$small-mobile : (
		columns: 4,
		gutter: $gutter,
		media: 'only screen and (max-width: 480px)',
);

