/* Colours
================================================== */
$black : #212121;
$white : #FFFFFF;

$bg-light-blue : #B3E5FC;
$bg-blue : #03A9F4;
$bg-orange : #FF9800;
$bg-grey : #BDBDBD;

$primary-text : $black;
$secondary-text : #757575;

