@import "settings/grid-settings";
@import "settings/variables";
@import "tools/mixins";
@import "tools/neat/neat.scss";
.c-fx-form {
  @include grid-column(6);
  @include grid-push(3);

  &__input, &__date {
    background          : linear-gradient(to bottom, rgba(255, 255, 255, 0) 98%, $bg-blue 4%);
    background-position : -1000px 0;
    background-repeat   : no-repeat;
    background-size     : 100% 100%;
    border              : none;
    border-bottom       : solid 1px $bg-blue;
    cursor              : pointer;
    margin-top          : $baseline-spacing*2;
    padding             : $baseline-spacing*2 $baseline-spacing $baseline-spacing 0;
    transition          : all 0.3s cubic-bezier(.64, .09, .08, 1);
    width               : 100%;

    &::-webkit-input-placeholder {
      transition : all 0.3s ease-in-out;
    }
    &:not([readonly]):not([readonly="readonly"]):focus {
      box-shadow          : none;
      outline             : none;
      background-position : 0 0;

      &::-webkit-input-placeholder {
        color      : $bg-blue;
        font-size  : 11px;
        transform  : translateY(-20px);
        visibility : visible !important;
      }
    }
    &[readonly], &[readonly="readonly"] {
      border-bottom : solid 1px $secondary-text;
      color         : $secondary-text;
      cursor        : default;
    }
  }
  &__date {
    color : $secondary-text;

    &.has-date {
      color : $primary-text;
    }
  }
  &__btn {
    background     : $bg-orange;
    border         : none;
    border-radius  : 2px;
    box-shadow     : 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    color          : $white;
    cursor         : pointer;
    letter-spacing : .5px;
    margin-top     : $baseline-spacing*4;
    padding        : $baseline-spacing $baseline-spacing*4;
    text-align     : center;
    text-transform : uppercase;
    transition     : all 0.3s ease-out;
    width          : auto;

    &:focus, &:hover {
      background : lighten($bg-orange, 5%);
      box-shadow : 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 6px 1px -2px rgba(0, 0, 0, 0.2);
    }
  }
}
