@import "settings/grid-settings";
@import "settings/variables";
@import "tools/mixins";
@import "tools/neat/neat.scss";
.c-header {
  background    : $bg-blue;
  box-shadow    : 0 2px 5px 1px rgba(0, 0, 0, 0.2);
  margin-bottom : $baseline-spacing*6;
  padding       : $baseline-spacing*6 0 $baseline-spacing*3;
}
