@import "settings/grid-settings";
@import "settings/variables";
@import "tools/mixins";
@import "tools/neat/neat.scss";
.c-logo {
  &__container {
    @include grid-column(12);
    align-items     : flex-end;
    display         : flex;
    justify-content : center;
  }
}
