<!DOCTYPE html>
<html>
<head>
  <title>AcmeFx</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<%= yield %>

<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</body>
</html>
